<br>
<br>

<div>
  <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Redefinir Senha</legend>
    <div class="form-row" [formGroup]="formulario">
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" >
        <mat-label for="inputLogin">E-mail</mat-label>
        <input matInput type="email" formControlName="email" id="input">
      </mat-form-field>
      </div>
    </div>
    <div>
      <button id="buttonSubmit" class="btn btn-success" (click)="onSubmit()" >
           Enviar
      </button>
        <button  id="buttonReturn" class=" btn btn-primary" (click)="voltarParaLogin()">
            Voltar
        </button>

    </div>

</fieldset>
</div>

